.hidden {
	visibility: hidden;
	display: none;
}
.visible {
	display: block;
}
* {
	margin: 0px;
	font-weight: 700;
}
button {
	background: url("../img/backgrounds/buttonBackground.png") scroll 0 0 transparent;
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Joystix;
	font-size: 16px;
	margin: 5px 2px;
	cursor: pointer;
}
html, body {
    height: 100%;
}
.menu {
	color: white;
	text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	paint-order: stroke fill;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: url("../img/backgrounds/titleBackground.gif") no-repeat fixed center, linear-gradient(#000000, #1c1c1c);
	background-size: 100%;
	text-align: center;
	font-family: Joystix;
}
.darkScreen {
	color: white;
	text-shadow: 4px 0 black, -4px 0 black, 0 4px black, 0 -4px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	paint-order: stroke fill;
    margin: 0;
	text-align: center;
	font-family: Joystix;
	position: absolute;
	width: 100%;
	transform: translate(0%, -40%);
	top: 50%;
	left: 0;
	z-index: 3;
}
canvas {
	z-index: 1;
}
.darkLayer {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}
button span {
	white-space: break-spaces;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
button span:after {
	content: '\003e\003e';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
button:hover span {
	padding-right: 25px;
}
button:hover span:after {
	opacity: 1;
	right: 0;
}
canvas {
	aspect-ratio: 16 / 9;
	/*display: block;*/
	vertical-align: top;
}
input[type=text] {
	background: url("../img/backgrounds/buttonBackground.png") scroll 0 0 transparent;
	color: white;
	font-family: Joystix;
	width: 20%;
	padding: 15px 32px;
	margin: 5px 2px;
	border: 0px;
	height: 19px;
}
#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
table {
	margin-left: auto;
	margin-right: auto;
}
@font-face {
	font-family: Joystix;
	src: url(../fonts/Joystix/font.woff);
}
.day {
	background: linear-gradient(#62d8ff, #9af2ff);
}
.night {
	background: linear-gradient(to right top, #434343, #001236, #000000)
}
::placeholder {
	color: white;
	opacity: 1;
}
:-ms-input-placeholder {
	color: white;
}

::-ms-input-placeholder {
	color: white;
}
